



<div class="dashboard container">
    <div class="row">
      <div class="col-12">
        <h2 class="dashboard-title">لوحة التحكم - المعيد</h2>
      </div>
    </div>
  
    <!-- معلومات المعيد -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">معلومات المعيد</h5>
            <p class="card-text">الاسم: {{ assistantName }}</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  