


<table id="schedule-table">
    <thead>
        <tr>
            <th>اليوم</th>
            <th>9:00 - 10:30</th>
            <th>10:40 - 12:10</th>
            <th>12:30 - 2:00</th>
            <th>2:10 - 3:40</th>
            <th>3:50 - 5:20</th>
            <th>5:30 - 7:00</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>السبت</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>الأحد</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>الإثنين</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>الثلاثاء</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>الأربعاء</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>الخميس</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h1 class="text-center fw-bold mt-5 text-danger">Not Finish Yet</h1>
<p class="text-center fs-2 fw-bold mt-5 text-danger text-capitalize">This will display the schedule of Rooms</p>